{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Create Post - {{ block.super }}
{% endblock %}
{% block content %}
<div class="container">
    <h3 class="white-important">
        {{  tag_line }}
    </h3>
    <form method="POST" class="col-15 col-md-7 no-padding pr-4 pr-md-0">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Create tweet</button>
        </div>
    </form>
</div>
{% endblock content %}